@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap");

.markdown-preview code {
  font-family: "Ubuntu Mono", monospace;
  color: #2825ab;
  font-size: 16px;
  line-height: 18px;
}
.markdown-preview pre.pmans-render code {
  color: #2825ab;
  display: inline-block;
}
.markdown-preview pre.pmans-render {
  background-color: #ffffff;
  padding: 0px;
  font-size: 100%;
}
.pmans-comment {
  color: #986232;
}
.markdown-preview pre .pmans-filename {
  color: black;
  background-color: #cfcfcf;
  font-size: 90%;
}
.markdown-preview pre .pmans-compile {
  color: grey;
  background-color: #ebebeb;
  font-size: 90%;
}
.pmans-b {
  font-weight: bold;
  color: #c01d24;
}
.pmans-f {
  font-weight: bold;
}
